.free-quiz-section {
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    overflow: hidden;
    background-attachment: fixed;
}

.free-quiz-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.free-quiz-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.free-quiz-container {
    width: 100%;
    max-width: 1200px;
    margin: auto auto;
    display: flex;
}

.free-quiz-card {
    background: #F7F0E5;
   	padding: 4rem 5rem;
    border-radius: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 3;
}

.free-quiz-content {
	display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.free-quiz-title {
    margin: 0 0 1.5rem 0;
    line-height: 1.1;
}

.title-line1 {
	display: block;
    font-family: "Net MoonTime", serif;
    color: #222;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 66px;
}

.title-line2 {
display: block;
    color: #222;
    text-align: center;
    font-family: Versailles;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 58.5px;
    text-transform: uppercase;
}

.free-quiz-description {
width: 232px;
    font-family: "GlacialIndifference", sans-serif;
    color: #070707;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.free-quiz-button {
color: var(--OFP-CTA, #F0A9AD);
text-align: center;
font-family: "GlacialIndifference";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 74.4px; /* 413.333% */
letter-spacing: 3.6px;
text-transform: uppercase;
transition: all 0.3s ease
}

.free-quiz-button:hover {
	color: #9BBFCD;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .free-quiz-section {
        min-height: 50vh;
        padding: 2rem 1rem;
    }
    .free-quiz-content {
    	gap: 0;
    }
    .free-quiz-container {
    	width: auto;
    }
    .free-quiz-card {
        padding: 2rem 1.5rem;
        max-width: 320px;
    }
   
    
    .title-line2 {
        font-size: 2.8rem;
    }
    
    .free-quiz-description {
        font-size: 0.9rem;
        max-width: 250px;
    }
    
    .free-quiz-button {
        padding: 0.7rem 1.5rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .free-quiz-card {
        padding: 1.5rem 1rem;
        max-width: 280px;
    }
    
    .title-line2 {
        font-size: 2.4rem;
    }
}