@use 'sass:math';

$NetMoonTime: "Net MoonTime", sans-serif;
$GlacialIndifference: "GlacialIndifference", sans-serif;
$LeagueGothicCondesed: "LeagueGothic Condensed", sans-serif;
$LeagueGothicSemiCondesed: "LeagueGothic SemiCondensed", sans-serif;
$LeagueGothic: "LeagueGothic", sans-serif;
$Versailles: "Versailles", sans-serif;

$text: $GlacialIndifference;
$titles: $Versailles;
$styled: $NetMoonTime;

$ofp-blue: #66B1BB;

@function stripUnit($value) {
  @return math.div($value, $value * 0 + 1);
}
@function to-rem($pxValue) {
  @return #{math.div(stripUnit($pxValue) , stripUnit(16px))}rem;
}

@mixin fixed-bg {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 767px) {
    background-size: auto 100%;
    background-attachment: scroll;
  }
}

@import 'credit-cards/credit-cards';
@import 'credit-card-hero/credit-card-hero';
@import 'destinations-map/destinations-map';
@import 'hero-image/hero-image';
@import 'favorite-cards/favorite-cards';
@import 'course-library/course-library';
@import 'success-stories/success-stories';
@import 'lets-connect/lets-connect';
@import 'hero-content/hero-content';
@import 'free-resources/free-resources';
@import 'free-resources-list/free-resources-list';
@import 'free-consultation/free-consultation';
@import 'the-blog/the-blog';
@import 'newsletter/newsletter';
@import 'about-kam/about-kam';
@import 'contact-form/contact-form';
@import 'start-here/start-here';
@import 'must-read/must-read';
@import 'about-kam-widget/about-kam-widget';
@import 'banner-cta-widget/banner-cta-widget';
@import 'time-line/time-line';
@import 'box-grid/box-grid';
@import 'extra-benefits/extra-benefits';
@import 'favorite-things/favorite-things';
@import 'rotating-words/rotating-words';
@import 'enchanting-links/enchanting-links';
@import 'instagram-cb/instagram-cb';
@import 'search/search';