.unique-card {
  position: relative;
  padding: 8rem 0 1rem !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.unique-card .container {
  max-width: 1200px;
}

.unique-card__card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 767px) {
  .unique-card__card {
    text-align: center;
    justify-content: center;
  }
}

.unique-card__rotating-img {
  width: calc(20% - (4rem / 3));
  text-align: center;
}

.unique-card__rotating-img .images-container {
  position: relative;
}

.unique-card__rotating-img .images-container .animated__img {
  position: absolute;
  max-width: inherit;
  width: 206%;
  height: 206%;
  top: -44%;
  left: -53%;
  animation: rotation 15s linear infinite 0s;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .unique-card__rotating-img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .unique-card__rotating-img {
    position: absolute;
    top: 4rem;
    left: 0;
  }
}

.unique-card__card-content {
  width: calc(50% - (4rem / 3));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 26px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .unique-card__card-content {
    width: calc(70% - 1rem);
  }
}

@media screen and (max-width: 767px) {
  .unique-card__card-content {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.unique-card__card-img {
  width: calc(30% - (4rem / 3));
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .unique-card__card-img {
    width: calc(30% - 1rem);
  }
}

@media screen and (max-width: 767px) {
  .unique-card__card-img {
    width: 60%;
  }
}

.unique-card__card-title {
  margin: 0;
  color: #222;
  font-family: "Versailles", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
}

.unique-card__offers-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.unique-card__card-new-offer {
  margin: 0;
  font-family: "GlacialIndifference", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .unique-card__card-new-offer {
    font-size: 26px;
  }
}

.unique-card__card-old-offer {
  margin: 0;
  font-family: "GlacialIndifference", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.unique-card__card-current-offer {
  margin: 0;
  font-family: "GlacialIndifference", sans-serif;
  font-size: 17.719px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.54%;
}

.unique-card__card-current-offer .offer-ends {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 205.714%;
  text-transform: uppercase;
}

.unique-card__card-cta {
  position: relative;
  padding: 0;
  background-color: transparent;
  font-family: "Versailles", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 297.6%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.unique-card__card-cta:hover {
  background-color: transparent;
}

.unique-card__card-cta:visited:hover {
  background-color: transparent;
}

.unique-card__card-cta::after {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: calc(100% - 1rem - 24px);
  border: 1px solid;
  content: '';
}

@media screen and (max-width: 767px) {
  .unique-card__card-cta::after {
    width: calc(100% - 1rem - 18px);
    bottom: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .unique-card__card-cta {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .unique-card__card-cta {
    font-size: 18px;
  }
}

.unique-card__card-fees {
  position: relative;
  padding: 0;
  background-color: transparent;
  font-family: "GlacialIndifference", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 620%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.unique-card__card-fees:hover {
  background-color: transparent;
}

.unique-card__card-fees:visited:hover {
  background-color: transparent;
}

.unique-card__card-fees::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  border: 1px solid;
  content: '';
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}